<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <!-- На другом ПК укажите имя SQL Server: localhost, .\SQLEXPRESS или ИМЯ_ПК\ЭКЗЕМПЛЯР -->
    <connectionStrings>
        <add name="DefaultConnection" connectionString="Server=localhost;Database=SchoolInventoryDB;Integrated Security=true;" />
    </connectionStrings>
    <appSettings>
        <add key="LogRetentionDays" value="30" />
        <add key="MaxPrice" value="100000000" />
        <add key="OrganizationName" value="МБОУ «Средняя общеобразовательная школа»" />
        <add key="OrganizationAddress" value="г. Брянск, ул. Примерная, д. 1" />
        <add key="OrganizationDepartment" value="Администрация / Хозяйственная часть" />
        <add key="ReportPreparedByTitle" value="Заведующий хозяйством" />
        <add key="ReportApprovedByTitle" value="Директор" />
    </appSettings>
</configuration>